.bgimage {
    background: rgb(201, 232, 236);
    color: rgb(22, 102, 177);;
    padding: 20px;
    padding-bottom: 0 !important;
    border-radius: 5px;
}

.spacing {
    // padding-bottom: 2%;
    padding-top: 2px;
}

.pull-left {
    float: left;
    margin-top: -2%;
    margin-left: -2%;
    width: 10%;
}
